@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro";
  scroll-behavior: smooth;
}

:root {
  --button-color: rgb(252, 81, 81);
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.nav-name {
  display: flex;
  justify-content: baseline;
  align-items: center;
  font-size: 28px;
}

.nav-name-logo {
  width: 80px;
}

.nav-name span {
    margin-left: -0.7rem;
}

.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
}

.nav-items a {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-items a:hover {
  font-weight: bold;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.left-text-para {
    font-size: 35px;
}

.role {
    color: #4e45d5;
    font-weight: 800;
}

.left-text-para p:last-of-type {
    font-size: 16px;
    width: 70%;
}

.faded-name {
    position: absolute;
    user-select: none;
    font-size: 7rem;
    color: #e7e7e7;
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

button {
    background-color: var(--button-color);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
button::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
button:hover::before {
    transform: scaleX(1);
}
button:hover {
    border: solid 3px var(--button-color);
    color: black;
}

.right {
    position: relative;
}

.user-img {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    position: relative;
    width: 380px;
    height: 480px;
}

.profile-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
    border-radius: 15px;
    animation: scaleImage 5s linear infinite;
}

.plus-img{
    position:absolute;
    z-index: 9;
    top: -0.5rem;
    left: 50%;
    animation: plus-img 5s infinite;
}

.cube-img{
    position:absolute;
    z-index: 9;
    top: -0.8rem;
    right: -0.5rem;
    animation: cube-img 3s infinite;
}

.circle-img {
    position:absolute;
    z-index: 9;
    bottom: -0.8rem;
    left: -0.5rem;
    animation: circle-img 6s infinite;
}

.zig-zag-img{
    position:absolute;
    z-index: 9;
    top: 1.5rem;
    left: -1rem;
    animation: zig-zag 5s infinite;
}

.dot-img {
    position: absolute;
    z-index: 9;
    bottom: -1rem;
    right: -0.5rem;
    animation: dot-img 5s infinite;
}

/* === Project Section Styles === */
.projects-section {
  background-color: rgb(231, 231, 231);
  padding: 4rem 0;
}

.projects-heading {
  color: var(--button-color);
  font-size: 90px;
  text-align: center;
  padding-bottom: 2rem;
}

.all-projects {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 3rem 0;
}

.project-card {
  width: 90%;
  height: 550px;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  border-radius: 10px;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.project-card-1, .project-card-3 {
    margin-left: 0;
    animation-name: slideInFromLeft;
}

.project-card-2 {
    margin-left: auto;
    animation-name: slideInFromRight;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(70%);
  transition: filter 0.4s ease-in-out;
}

.project-card:hover .project-image {
    filter: grayscale(0%);
}

.project-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.4s ease-in-out;
}

.project-card:hover .project-content {
    background-color: rgba(0,0,0,0.7);
}

.content-left {
    align-items: flex-start;
}

.content-right {
    align-items: flex-end;
    text-align: right;
}

.project-skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.content-right .project-skills {
    justify-content: flex-end;
}

.project-skill-icon {
  width: 40px;
  height: 40px;
}

.project-title {
  font-size: 45px;
  font-weight: bold;
}

.project-description {
  font-size: 16px;
  font-style: italic;
  width: 70%;
}

.content-right .project-description {
    margin-left: auto;
}

.button-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.content-right .button-container {
    justify-content: flex-end;
}

.project-link-icon {
    width: 35px;
    filter: invert(1);
    transition: transform 0.3s;
}

.project-link-icon:hover {
    transform: scale(1.2);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: white;
  z-index: 10;
  display: none;
  top: -45px;
  opacity: 0;
  transition: opacity 0.4s;
}

.project-card:hover .project-number {
    display: block;
    opacity: 1;
}

.number-right {
    right: -40px;
}

.number-left {
    left: -40px;
}

.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.skills-wrapper {
  display: flex;
  gap: 5rem;
  width: 100%;
}

.skills-text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skills-heading {
  font-size: 50px;
  font-style: bold;
  color: var(--button-color);
  line-height: 50px;
}

.skills-heading span {
  font-size: 90px;
}

.skills-para {
  margin-top: 1rem;
}

.skills-para h3 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.skills-para p {
  font-size: 14px;
  width: 85%;
}

.skills-skills-img {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blob-vector {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
}

.skills-languages-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skills-language-logo {
    width: 80px;
    transition: all 0.5s;
}

.skills-language-logo:hover {
    transform: scale(1.2);
}

.faded-skill-text {
  position: absolute;
  font-size: 15em;
  color: rgb(231, 231, 231);
  bottom: -34.5%;
  right: -15%;
  user-select: none;
  font-weight: 600;
}

.contact-wrapper {
    width: 100%;
    background-color: rgb(231, 231, 231);
}

#contact {
    max-width: 1200px;
    margin: 0 auto;
    color: #535c87;
    padding: 5rem 0;
}

.contact-heading h1 {
    font-size: 5em;
    color: var(--button-color);
}

.contact-heading p {
    font-size: 3rem;
}

.contact-input-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2rem 5rem;
    gap: 30px;
}

.contact-input-form input, textarea {
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 5px #1f1f1f;
    border-radius: 5px;
    padding: 0 2rem;
}

textarea {
    height: 150px;
    padding: 1.5rem;
}

.contact-me-button {
    font-size: 1.8rem;
}

footer {
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

footer {
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 2rem 0; /* Adjusted padding */
}

.footer-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.profile-name {
    /* Removed absolute positioning to align with other items */
    color: #535c87;
    user-select: none;
    font-size: 2rem; /* Adjusted font size */
    font-weight: 600;
}

.footer-text {
    display: flex;
    gap: 2rem;
}

.footer-text a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-text a:hover {
    color: var(--button-color);
}


.footer-social-icon {
    display: flex;
    gap: 2rem;
    font-size: 30px;
}

.footer-social-icon i {
    color: white;
    transition: color 0.3s;
}

.footer-social-icon i:hover {
    color: var(--button-color);
}

/* Keyframes for Animations */
@keyframes scaleImage {
    0% {
        transform: scale(1);
        filter: grayscale(0);
    }
    50% {
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }
    100% {
        transform: scale(1);
        filter: grayscale(0);
    }
}

@keyframes zig-zag {
  50% {
    left: -0.5rem;
    top: 2rem;
  }
}

@keyframes plus-img {
  50% {
    top: -0.2rem;
    left: 53%;
  }
}

@keyframes cube-img {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

@keyframes circle-img {
  50% {
    left: 0rem;
    bottom: -0.5rem;
  }
}

@keyframes dot-img {
  50% {
    right: -0.2rem;
    bottom: -0.8rem;
  }
}

@keyframes blobAnimate {
  50% {
    top: 54%;
    left: 46%;
  }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}